In [2]:
import pandas as pd
import glob
import os 
import json

gộp data ở 3 file thành 1 file csv

In [3]:
current_directory = os.path.dirname(os.path.realpath('preprocessing.ipynb'))
database_directory=os.path.join(current_directory,'..',"Database")
os.chdir(database_directory)

extension='txt'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

data_list=[]

for file in all_filenames:
    with open(file,'r') as f:
        file_content=f.read()
        for line in file_content.split('\n'):
            if line.strip(): 
                line=line.replace("'","\"")
                data_dict=json.loads(line)
                data_list.append(data_dict)

combined_data=pd.DataFrame(data_list)

combined_data.to_csv("combined_data.csv", index=False, encoding='utf-8-sig')

đọc data từ file csv

In [4]:
dataframe = pd.read_csv('..\Database\combined_data.csv')
dataframe

,brand,dtime,flytime,atime,price,crawl_date,dcity,acity,flight_type,class_type,ddate,fcode
0,Vietravel Airlines,23:59,2g 16p,02:15,1377000,2023-12-06,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
1,VietJet Air,22:25,2g 10p,00:35,1447000,2023-12-06,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
2,VietJet Air,23:30,2g 5p,01:35,1447000,2023-12-06,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
3,VietJet Air,23:40,2g 10p,01:50,1447000,2023-12-06,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
4,VietJet Air,21:40,2g 10p,23:50,1563000,2023-12-06,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23921,Vietnam Airlines,14:40,4g 25p,19:05,8112000,2023-12-11,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN189', 'VN1441']"
23922,Vietnam Airlines,14:40,4g 25p,19:05,8112000,2023-12-11,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN185', 'VN1441']"
23923,Vietnam Airlines,14:40,4g 25p,19:05,8319000,2023-12-11,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN1203']"
23924,Vietnam Airlines,14:40,4g 25p,19:05,8653000,2023-12-11,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN7185', 'VN1441']"
23925,Vietnam Airlines,14:40,4g 25p,19:05,9734000,2023-12-11,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN191', 'VN1441']"

brand: hãng máy bay

dtime: giờ bắt đầu bay

flytime: tổng giờ bay 

atime: giờ hạ cánh

price: giá vé

dcity: thành phố xuất phát

acity: thành phố hạ cánh

flight type: loại vé máy bay

class_type: hạng vé máy bay

ddate: ngày bay

crawl date: ngày crawl 

fcode: số hiệu máy bay

drop cột crawl date

In [9]:
df=dataframe.drop(['crawl_date'], axis=1)
df

,brand,dtime,flytime,atime,price,dcity,acity,flight_type,class_type,ddate,fcode
0,Vietravel Airlines,23:59,2g 16p,02:15,1377000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
1,VietJet Air,22:25,2g 10p,00:35,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
2,VietJet Air,23:30,2g 5p,01:35,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
3,VietJet Air,23:40,2g 10p,01:50,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
4,VietJet Air,21:40,2g 10p,23:50,1563000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23921,Vietnam Airlines,14:40,4g 25p,19:05,8112000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN189', 'VN1441']"
23922,Vietnam Airlines,14:40,4g 25p,19:05,8112000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN185', 'VN1441']"
23923,Vietnam Airlines,14:40,4g 25p,19:05,8319000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN1203']"
23924,Vietnam Airlines,14:40,4g 25p,19:05,8653000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN7185', 'VN1441']"
23925,Vietnam Airlines,14:40,4g 25p,19:05,9734000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13,"['VN1803', 'VN191', 'VN1441']"

In [10]:
null_values = df.isnull().sum()
print("Null Values:\n", null_values)

Null Values:
 brand           0
dtime           0
flytime         0
atime           0
price           0
dcity           0
acity           0
flight_type     0
class_type      0
ddate           0
fcode          52
dtype: int64

ở đây fcode là cột duy nhất mà tồn tại dữ liệu bị thiếu fcode. fcode chỉ mã chuyến bay, tuy nhiên trong quá trình mua vé, không phải người mua nào cũng được lựa chọn mã chuyến bay cho mình. hầu hết các quyết định mua vé thường dựa trên hãng vé, điểm đi, điểm đến và những yếu tố khác. vậy nên drop thêm cột fcode.

In [11]:
df=df.drop(['fcode'], axis=1)
df

,brand,dtime,flytime,atime,price,dcity,acity,flight_type,class_type,ddate
0,Vietravel Airlines,23:59,2g 16p,02:15,1377000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06
1,VietJet Air,22:25,2g 10p,00:35,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06
2,VietJet Air,23:30,2g 5p,01:35,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06
3,VietJet Air,23:40,2g 10p,01:50,1447000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06
4,VietJet Air,21:40,2g 10p,23:50,1563000,ho-chi-minh-city,hanoi,oneway,economy,2023-12-06
...,...,...,...,...,...,...,...,...,...,...
23921,Vietnam Airlines,14:40,4g 25p,19:05,8112000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13
23922,Vietnam Airlines,14:40,4g 25p,19:05,8112000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13
23923,Vietnam Airlines,14:40,4g 25p,19:05,8319000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13
23924,Vietnam Airlines,14:40,4g 25p,19:05,8653000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13
23925,Vietnam Airlines,14:40,4g 25p,19:05,9734000,dien-bien-phu,Can-tho,oneway,economy,2023-12-13

giờ vấn đề là như thế này, có rất nhiều dữ liệu mà cái duy nhất nó khác chỉ là cái ddate. tức là nếu mà ở một ngày khác, cùng hãng máy bay ấy, cùng khoảng thời gian bay ấy, cùng điểm đi, điểm đích, và các yếu tố khác thì nó không khác gì nhau trừ cái ngày đặt. t muốn check xem có bao nhiêu dữ liệu như vậy và remove bọn nó đi, chỉ giữ lại 1 cái duy nhất thôi.

In [12]:
important_columns = ['brand','dtime', 'flytime','atime','price', 'dcity', 'acity', 'flight_type', 'class_type']
df_no_duplicates = df.drop_duplicates(subset=important_columns, keep='first')
num_removed_rows = len(df) - len(df_no_duplicates)
print(f"Removed {num_removed_rows} duplicate rows.")
print(df_no_duplicates)

Removed 22299 duplicate rows.
                               brand  dtime  flytime  atime    price  \
0                 Vietravel Airlines  23:59   2g 16p  02:15  1377000
1                        VietJet Air  22:25   2g 10p  00:35  1447000
2                        VietJet Air  23:30    2g 5p  01:35  1447000
5                   Vietnam Airlines  19:20   2g 20p  21:40  6003000
6                   Vietnam Airlines  21:00   2g 10p  23:10  6004000
...                              ...    ...      ...    ...      ...
23704  Vietnam Airlines, VietJet Air  19:50  13g 10p  09:00  3871000
23725               Vietnam Airlines  14:40   4g 35p  19:15  4043000
23755  Vietnam Airlines, VietJet Air  14:40  22g 15p  12:55  4508000
23815               Vietnam Airlines  14:40  26g 35p  17:15  6888000
23900               Vietnam Airlines  14:40  22g 35p  13:15  8052000

                  dcity             acity flight_type class_type       ddate
0      ho-chi-minh-city             hanoi      oneway    economy  2023-12-06
1      ho-chi-minh-city             hanoi      oneway    economy  2023-12-06
2      ho-chi-minh-city             hanoi      oneway    economy  2023-12-06
5      ho-chi-minh-city             hanoi      oneway    economy  2023-12-06
6      ho-chi-minh-city             hanoi      oneway    economy  2023-12-06
...                 ...               ...         ...        ...         ...
23704           Can-tho     buon-ma-thuot      oneway    economy  2023-12-13
23725     dien-bien-phu  ho-chi-minh-city      oneway    economy  2023-12-13
23755     dien-bien-phu   phu-quoc-island      oneway    economy  2023-12-13
23815     dien-bien-phu          haiphong      oneway    economy  2023-12-13
23900     dien-bien-phu    con-dao-island      oneway    economy  2023-12-13

[1627 rows x 10 columns]

In [6]:
#check for duplicated rows
duplicated_rows = df.duplicated()

if duplicated_rows.any():
    duplicated_data = df[duplicated_rows]
    print("Duplicated Rows:")
    print(duplicated_data)

    #drop duplicated rows and keep the first occurrence
    df.drop_duplicates(inplace=True)
    print("Duplicated rows removed.")
else:
    print("No duplicated rows found.")

Duplicated Rows:
                  brand  dtime  flytime  atime     price             dcity  \
54          VietJet Air  14:40   1g 20p  16:00   1596000  ho-chi-minh-city
56          VietJet Air  14:40   1g 20p  16:00   1676000  ho-chi-minh-city
60          VietJet Air  14:40   1g 20p  16:00   2508000  ho-chi-minh-city
67          VietJet Air  21:40   2g 10p  23:50   1083000  ho-chi-minh-city
68          VietJet Air  21:40   2g 10p  23:50   1083000  ho-chi-minh-city
...                 ...    ...      ...    ...       ...               ...
23899  Vietnam Airlines  14:40      24g  14:40  15410000     dien-bien-phu
23906  Vietnam Airlines  14:40  22g 35p  13:15   9193000     dien-bien-phu
23907  Vietnam Airlines  14:40  22g 35p  13:15   9193000     dien-bien-phu
23909  Vietnam Airlines  14:40  22g 35p  13:15   9464000     dien-bien-phu
23922  Vietnam Airlines  14:40   4g 25p  19:05   8112000     dien-bien-phu

                acity flight_type class_type
54            da-nang      oneway    economy
56            da-nang      oneway    economy
60            da-nang      oneway    economy
67              hanoi      oneway    economy
68              hanoi      oneway    economy
...               ...         ...        ...
23899          ca-mau      oneway    economy
23906  con-dao-island      oneway    economy
23907  con-dao-island      oneway    economy
23909  con-dao-island      oneway    economy
23922         Can-tho      oneway    economy

[7376 rows x 9 columns]
Duplicated rows removed.

In [7]:
df

,brand,dtime,flytime,atime,price,dcity,acity,flight_type,class_type
0,Vietravel Airlines,23:59,2g 16p,02:15,1377000,ho-chi-minh-city,hanoi,oneway,economy
1,VietJet Air,22:25,2g 10p,00:35,1447000,ho-chi-minh-city,hanoi,oneway,economy
2,VietJet Air,23:30,2g 5p,01:35,1447000,ho-chi-minh-city,hanoi,oneway,economy
3,VietJet Air,23:40,2g 10p,01:50,1447000,ho-chi-minh-city,hanoi,oneway,economy
4,VietJet Air,21:40,2g 10p,23:50,1563000,ho-chi-minh-city,hanoi,oneway,economy
...,...,...,...,...,...,...,...,...,...
23920,Vietnam Airlines,14:40,4g 25p,19:05,6974000,dien-bien-phu,Can-tho,oneway,economy
23921,Vietnam Airlines,14:40,4g 25p,19:05,8112000,dien-bien-phu,Can-tho,oneway,economy
23923,Vietnam Airlines,14:40,4g 25p,19:05,8319000,dien-bien-phu,Can-tho,oneway,economy
23924,Vietnam Airlines,14:40,4g 25p,19:05,8653000,dien-bien-phu,Can-tho,oneway,economy
23925,Vietnam Airlines,14:40,4g 25p,19:05,9734000,dien-bien-phu,Can-tho,oneway,economy

In [45]:
df.reset_index(drop=True, inplace=True)
df.dtypes

brand          object
dtime          object
flytime        object
atime          object
price           int64
dcity          object
acity          object
flight_type    object
class_type     object
dtype: object

In [1]:
df.describe()

NameError: name 'df' is not defined

In [48]:
df['flytime_numeric'] = (
    df['flytime'].str.extract(r'(\d+)g (\d+)p')
    .astype(float)
    .apply(lambda x: x[0] * 60 + x[1], axis=1)
)


flytime_range = {
    'min': df['flytime_numeric'].min(),
    'max': df['flytime_numeric'].max()
}

print("Flytime Numeric Values:\n", df[['flytime', 'flytime_numeric']])
print("\nFlytime Range:\n", flytime_range)

Flytime Numeric Values:
       flytime  flytime_numeric
0      2g 16p            136.0
1      2g 10p            130.0
2       2g 5p            125.0
3      2g 10p            130.0
4      2g 10p            130.0
...       ...              ...
16545  4g 25p            265.0
16546  4g 25p            265.0
16547  4g 25p            265.0
16548  4g 25p            265.0
16549  4g 25p            265.0

[16550 rows x 2 columns]

Flytime Range:
 {'min': 65.0, 'max': 3030.0}

In [50]:
sorted_dataframe = df.sort_values(by='flytime_numeric', ascending=False)

# Display the sorted DataFrame
print("Sorted DataFrame by Flytime (highest to lowest):\n", sorted_dataframe)

Sorted DataFrame by Flytime (highest to lowest):
                   brand  dtime  flytime  atime     price            dcity  \
13778  Vietnam Airlines  06:25  50g 30p  08:55  28114000         rach-gia
13779  Vietnam Airlines  06:25  50g 30p  08:55  31629000         rach-gia
1037   Vietnam Airlines  12:15  50g 25p  14:40   9774000              hue
1038   Vietnam Airlines  12:15  50g 25p  14:40  16072000              hue
740         VietJet Air  13:55  49g 20p  15:15   7029000  phu-quoc-island
...                 ...    ...      ...    ...       ...              ...
16523  Vietnam Airlines  14:40      24g  14:40  10274000    dien-bien-phu
16524  Vietnam Airlines  14:40      24g  14:40  10725000    dien-bien-phu
16525  Vietnam Airlines  14:40      24g  14:40  12167000    dien-bien-phu
16526  Vietnam Airlines  14:40      24g  14:40  13519000    dien-bien-phu
16527  Vietnam Airlines  14:40      24g  14:40  15410000    dien-bien-phu

         acity flight_type class_type  flytime_numeric
13778   pleiku      oneway   business           3030.0
13779   pleiku      oneway   business           3030.0
1037    ca-mau      oneway    economy           3025.0
1038    ca-mau      oneway    economy           3025.0
740    Can-tho      oneway    economy           2960.0
...        ...         ...        ...              ...
16523   ca-mau      oneway    economy              NaN
16524   ca-mau      oneway    economy              NaN
16525   ca-mau      oneway    economy              NaN
16526   ca-mau      oneway    economy              NaN
16527   ca-mau      oneway    economy              NaN

[16550 rows x 10 columns]